* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 0;
    width: 100%;
    padding: 30px;
}

nav h1 {
    font-size: 7vh;
    color: white;
    text-align: center;
    position: relative;
    font-family: Haettenschweiler;
    font-weight: 10;
    text-transform: uppercase;
    ;
}

.background {
    background-image: url('./img/northern-lights.jpg');
    background-size: cover;
}

main {
    margin: auto auto;
    height: 700px;
}

main h3 {
    color: black;
    position: relative;
    padding: 10px 10px;
    text-transform: uppercase;
}

main article p {
    margin: auto auto;
    font-family: Haettenschweiler;
    font-size: large;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
    position: relative;
}

.container {
    width: 100%;
    padding: 0px 10px;
    position: relative;
    align-items: center;
}

.btn {
    border-radius: 15px;
    border: 0.5vh solid white;
    width: 15%;
    text-align: center;
    display: inline-block;
    margin: 20px 20px;
    background-color: transparent;
    color: white;
    font-family: Haettenschweiler;
    text-transform: uppercase;
}

.btn:hover {
    opacity: 50%;
    font-size: larger;
    color: white;
}

.center {
    display: flex;
    padding: 2vh 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}